<appSettings>
    <!--UDP port to be used.-->
    <add key="UDP_PORT" value="7" />

    <!--Wake up packets will be sent to all IP addresses specified here plus the default broadcast address (255.255.255.255).-->
    <add key="TargetIpAddresses" value="172.16.10.255,172.16.11.255,172.16.12.255,172.16.13.255,172.16.15.255,10.57.236.255,10.57.238.255" />

    <!--Database connection string.-->
    <add key="ConnectionString" value="server=RS-GS-SQL;database=rs_pcaudit;Integrated Security=True;"/>
    
    <!--Default table or view name. This value will be used if no argument is specified.-->
    <add key="DatabaseTable" value="WoL" />
  
    <!--Filename of the Log file -->
    <add key="LogFileName" value="Log.txt" />
</appSettings>